In [2]:
import os
import pandas as pd
from dotenv import load_dotenv
# import s3fs 

dotenf_path = os.path.join(os.path.dirname(os.getcwd()), '../.env')
if os.path.exists(dotenf_path):
    load_dotenv(dotenf_path)
    print(f"Loaded environment variables from {dotenf_path}")
else:
    print(f"Warning: .env file not found ")

Loaded environment variables from /Users/jungminhong/Documents/test/mlops_fork_0528/mlops_team/../.env

In [ ]:
# 혹시 몰라서 AWS 관련 환경변수들이 설정되어 있는지 확인

print(f"AWS_ACCESS_KEY_ID: {os.getenv('AWS_ACCESS_KEY_ID')[:5]}...") 
print(f"AWS_SECRET_ACCESS_KEY: {os.getenv('AWS_SECRET_ACCESS_KEY')[:5]}...")
print(f"S3_BUCKET_NAME: {os.getenv('S3_BUCKET_NAME')}")

AWS_ACCESS_KEY_ID: AKIA4...
AWS_SECRET_ACCESS_KEY: 5JDmV...
S3_BUCKET_NAME: mlops-prj

In [4]:
s3_parquet_path = "s3://mlops-prj/data/weather/preprocess/v1.0.0/2003.07.05_0000_2025.05.29_1800.parquet"
print(f"\nS3에서 다음 Parquet 파일을 읽어옵니다: {s3_parquet_path}")

S3에서 다음 Parquet 파일을 읽어옵니다: s3://mlops-prj/data/weather/preprocess/v1.0.0/2003.07.05_0000_2025.05.29_1800.parquet

In [ ]:
df = pd.read_parquet(s3_parquet_path)  
print("successfully read the Parquet file from S3.")

successfully read the Parquet file from S3.

In [19]:
df.head(3)

,ObservationTime,StationID,WindDirection,WindSpeed,GustDirection,GustSpeed,GustTime,LocalPressure,SeaLevelPressure,PressureTrend,...,SoilTemperature30cm,SeaCondition,WaveHeight,MaxWindForce,PrecipitationData,ObservationType,year,month,day,hour
0,2003-07-05 00:00:00,108,5,0.7,-9,-9.0,-9,994.6,1004.4,8,...,-99.0,-9,-9.0,-9,3,2,2003,7,5,0
1,2003-07-05 01:00:00,108,2,0.3,-9,-9.0,-9,-9.0,-9.0,-9,...,-99.0,-9,-9.0,-9,3,-9,2003,7,5,1
2,2003-07-05 02:00:00,108,5,0.3,-9,-9.0,-9,-9.0,-9.0,-9,...,-99.0,-9,-9.0,-9,3,-9,2003,7,5,2

In [20]:
df.columns

Index(['ObservationTime', 'StationID', 'WindDirection', 'WindSpeed',
       'GustDirection', 'GustSpeed', 'GustTime', 'LocalPressure',
       'SeaLevelPressure', 'PressureTrend', 'PressureChange', '기온', '이슬점온도',
       '상대습도', 'VaporPressure', '시간당강수량', 'DailyRainfall',
       'CumulativeRainfall', '강수강도', '3시간신적설', 'DailySnowDepth',
       'TotalSnowDepth', '현재날씨코드', 'PastWeatherCode', 'WeatherCode',
       'TotalCloudCover', 'MidLowCloudCover', 'LowestCloudHeight', 'CloudType',
       'UpperCloudType', 'MidCloudType', 'LowCloudType', 'Visibility',
       'SunshineDuration', '일사량', 'GroundCondition', 'GroundTemperature',
       'SoilTemperature5cm', 'SoilTemperature10cm', 'SoilTemperature20cm',
       'SoilTemperature30cm', 'SeaCondition', 'WaveHeight', 'MaxWindForce',
       'PrecipitationData', 'ObservationType', 'year', 'month', 'day', 'hour'],
      dtype='object')

In [22]:
df.shape

(1326, 50)

In [21]:
df[['year', 'month', 'day', 'hour', 'ObservationTime']]

      year  month  day  hour     ObservationTime
0     2003      7    5     0 2003-07-05 00:00:00
1     2003      7    5     1 2003-07-05 01:00:00
2     2003      7    5     2 2003-07-05 02:00:00
3     2003      7    5     3 2003-07-05 03:00:00
4     2003      7    5     4 2003-07-05 04:00:00
...    ...    ...  ...   ...                 ...
1321  2025      5   29    14 2025-05-29 14:00:00
1322  2025      5   29    15 2025-05-29 15:00:00
1323  2025      5   29    16 2025-05-29 16:00:00
1324  2025      5   29    17 2025-05-29 17:00:00
1325  2025      5   29    18 2025-05-29 18:00:00

[1326 rows x 5 columns]

In [7]:
df.columns

Index(['ObservationTime', 'StationID', 'WindDirection', 'WindSpeed',
       'GustDirection', 'GustSpeed', 'GustTime', 'LocalPressure',
       'SeaLevelPressure', 'PressureTrend', 'PressureChange', 'Temperature',
       'DewPointTemperature', 'RelativeHumidity', 'VaporPressure',
       'HourlyRainfall', 'DailyRainfall', 'CumulativeRainfall',
       'RainfallIntensity', 'SnowDepth3Hr', 'DailySnowDepth', 'TotalSnowDepth',
       'CurrentWeatherCode', 'PastWeatherCode', 'WeatherCode',
       'TotalCloudCover', 'MidLowCloudCover', 'LowestCloudHeight', 'CloudType',
       'UpperCloudType', 'MidCloudType', 'LowCloudType', 'Visibility',
       'SunshineDuration', 'SolarRadiation', 'GroundCondition',
       'GroundTemperature', 'SoilTemperature5cm', 'SoilTemperature10cm',
       'SoilTemperature20cm', 'SoilTemperature30cm', 'SeaCondition',
       'WaveHeight', 'MaxWindForce', 'PrecipitationData', 'ObservationType',
       'year', 'month', 'day', 'hour'],
      dtype='object')

In [8]:
selected_features_temp = [
        'Temperature', 'DewPointTemperature', 'RelativeHumidity', 'SolarRadiation'
    ]

selected_features_umbrella = [
        'HourlyRainfall', 'RainfallIntensity', 'CurrentWeatherCode', 'SnowDepth3Hr'
    ]

all_selected_features = list(set(selected_features_temp + selected_features_umbrella))
print(f"\n선택된 특성들: {all_selected_features}")

선택된 특성들: ['SnowDepth3Hr', 'RelativeHumidity', 'HourlyRainfall', 'RainfallIntensity', 'DewPointTemperature', 'CurrentWeatherCode', 'SolarRadiation', 'Temperature']

In [10]:
column_name_map = {
    'SnowDepth3Hr': '3시간신적설',
    'RelativeHumidity': '상대습도',
    'HourlyRainfall': '시간당강수량',
    'RainfallIntensity': '강수강도',
    'DewPointTemperature': '이슬점온도',
    'CurrentWeatherCode': '현재날씨코드',
    'SolarRadiation': '일사량',
    'Temperature': '기온'
}

df = df.rename(columns=column_name_map)
df.columns

Index(['ObservationTime', 'StationID', 'WindDirection', 'WindSpeed',
       'GustDirection', 'GustSpeed', 'GustTime', 'LocalPressure',
       'SeaLevelPressure', 'PressureTrend', 'PressureChange', '기온', '이슬점온도',
       '상대습도', 'VaporPressure', '시간당강수량', 'DailyRainfall',
       'CumulativeRainfall', '강수강도', '3시간신적설', 'DailySnowDepth',
       'TotalSnowDepth', '현재날씨코드', 'PastWeatherCode', 'WeatherCode',
       'TotalCloudCover', 'MidLowCloudCover', 'LowestCloudHeight', 'CloudType',
       'UpperCloudType', 'MidCloudType', 'LowCloudType', 'Visibility',
       'SunshineDuration', '일사량', 'GroundCondition', 'GroundTemperature',
       'SoilTemperature5cm', 'SoilTemperature10cm', 'SoilTemperature20cm',
       'SoilTemperature30cm', 'SeaCondition', 'WaveHeight', 'MaxWindForce',
       'PrecipitationData', 'ObservationType', 'year', 'month', 'day', 'hour'],
      dtype='object')

In [11]:
simple_df = df[all_selected_features].copy()
simple_df

       일사량  강수강도  현재날씨코드  이슬점온도  상대습도  3시간신적설  시간당강수량    기온
0    -9.00  -9.0      -9   18.1  80.0    -9.0    -9.0  21.5
1    -9.00  -9.0      -9  -99.0  82.0    -9.0    -9.0  21.0
2    -9.00  -9.0      -9  -99.0  83.0    -9.0    -9.0  20.6
3    -9.00  -9.0      -9   17.9  85.0    -9.0    -9.0  20.3
4    -9.00  -9.0      -9  -99.0  85.0    -9.0    -9.0  20.1
...    ...   ...     ...    ...   ...     ...     ...   ...
1321  3.19  -9.0      -9   12.3  42.0    -9.0    -9.0  26.3
1322  2.30  -9.0      -9   10.7  39.0    -9.0    -9.0  25.8
1323  2.76  -9.0      -9    9.9  34.0    -9.0    -9.0  27.2
1324  1.15  -9.0      -9   13.9  47.0    -9.0    -9.0  26.2
1325  1.21  -9.0      17   14.6  52.0    -9.0    -9.0  25.2

[1326 rows x 8 columns]